<div class="container">
  <!-- Search Bar -->
  <div class="mt-4 mb-4">
    <input type="text" id="movie-search" class="form-control" placeholder="Search for a movie...">
  </div>

<div id="movies-list" class="row">
  <% @movies.each do |movie| %>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <%= link_to movie_path(movie), class: "text-decoration-none text-dark" do %>
          <%= image_tag(movie.poster_url, alt: "movie poster image", class: "card-img-top") %>
          <div class="card-body text-center">
            <h6 class="card-title fw-bold"><%= movie.title %></h6>
            <p class="mb-1">Year: <%= movie.release_date&.year || "N/A" %></p>
            <p class="mb-1">
              Popularity: <%= movie.popularity || "N/A" %> |
              Rating: <%= movie.rating.present? ? movie.rating.round(1) : "N/A" %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById("movie-search");

    searchInput.addEventListener("input", function () {
      const csrfToken = document.querySelector("meta[name='csrf-token']").getAttribute("content");

      fetch(`/movies?query=${searchInput.value}`, {
        method: "GET",
        headers: {
          "Accept": "text/javascript",
          "X-Requested-With": "XMLHttpRequest",
          "X-CSRF-Token": csrfToken
        },
      })
      .then(response => response.text())
      .then(html => {
        document.getElementById("movies-list").innerHTML = html;
      });
    });
  });
</script>
